*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: grey;
}

.navBar_custom {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    justify-items: flex-start;
}
.navgation_home{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.navigation_home{
    text-align: center;
    margin-top: 10px;
}
.gift_cards{
   display: flex;
   justify-content: center;
   margin-top: 10px;
}
.about_me{
    
}

