*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: blanchedalmond;
}
.navigation_home{
    text-align: center;
    margin-top: 10px;
}

.navBar_custom {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    justify-items: flex-start;
}
.box_container{
    display: grid;
    grid-template-columns: auto auto;
    
}
.photos_container {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
}
.content_container{
    display: block;
    border: 2px solid black;
}
