*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: lavender;
    padding: 30px;
}

.navBar_custom {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    justify-items: flex-start;
}
.navigation_home{ 
    text-align: center;
    margin-top: 10px;
} 
.background_root{
    background-image: url("https://dynamicwallpaper.club/landing-vids/1.png");
    padding: 20em;
}
.box_container{
    display: grid;
    grid-template-columns: auto auto;
    
}
 .photos_container {
    box-sizing: border-box;
     width: 400px;
     height: 400px;
     padding: 10px;
 }