*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: lavender;
    padding: 30px;
}

.navBar_custom {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    justify-items: flex-start;
}
.navigation_home{ 
    text-align: center;
    margin-top: 10px;
} 
.background_root{
    background-image: url("https://dynamicwallpaper.club/landing-vids/1.png");
    padding: 20em;
}
.box_container >img{
    position:absolute;
    left: 44%;
}
.box_container> div{
    border: 2px solid black;
    height: 400px;
    width: 400px;
}
.box{
    display: grid;
    grid-column: auto auto;
}
.box_container2> div{
    border: 2px solid black;
    position:absolute;
    left: 44%;
    width: 400px;
    height: 400px;
    
}
.box2{
    display: grid;
    grid-column: auto auto;
}



